<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <form class="mt-3" th:action="@{/candidates/create}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label"><b>Имя</b></label>
            <input type="text" class="form-control" name="name" id="name"
                   placeholder="Ваше имя">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Описание</b></label>
            <textarea class="form-control" name="description" id="description" rows="25"
                      placeholder="Расскажите о себе и опишите ваши навыки"></textarea>
        </div>
        <div class="mb-3 row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6"><a class="btn btn-danger w-100"
                                          th:href="@{/candidates}">Отмена</a></div>
                    <div class="col-6"><button class="btn btn-primary w-100"
                                               type="submit">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
