<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate: ${candidates}">
                <td th:text="${candidate.id}" />
                <td>
                    <a th:text="${candidate.name}"
                       th:href="@{/candidates/{candidateId}(candidateId=${candidate.id})}">
                    </a>
                </td>
                <td th:text="${#temporals.format(candidate.creationDate, 'dd/MM/yyyy HH:mm')}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
