<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div style="display: grid; place-items: center;">
    <h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
    <ul>
        <li><a th:href="@{/vacancies}">Вакансии</a></li>
        <li><a th:href="@{/candidates}">Кандидаты</a></li>
        <li><a th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a th:href="@{/candidates/create}">Добавить кандидата</a></li>
    </ul>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>