<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th><i class="bi bi-square"></i></th>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacancy: ${vacancies}">
                <td>
                    <span th:if="${vacancy.visible}">
                        <i class="bi bi-check-square"></i>
                    </span>
                    <span th:if="${!vacancy.visible}">
                        <i class="bi bi-square"></i>
                    </span>
                </td>
                <td th:text="${vacancy.id}" />
                <td>
                    <a th:text="${vacancy.title}"
                       th:href="@{/vacancies/{vacancyId}(vacancyId=${vacancy.id})}">
                    </a>
                </td>
                <td th:text="${#temporals.format(vacancy.creationDate, 'dd/MM/yyyy HH:mm')}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>