<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacancy: ${vacancies}">
                <td th:text="${vacancy.id}" />
                <td th:text="${vacancy.title}" />
                <td th:text="${vacancy.description}" />
                <td th:text="${#temporals.format(vacancy.creationDate, 'dd/MM/yyyy HH:mm')}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>